<!-- src/nutrition/nutrition.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Nutrition Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Meal</ion-label>
    <ion-select [(ngModel)]="selectedMeal" (ionChange)="calculateCalories()">
      <ion-select-option *ngFor="let meal of meals" [value]="meal.name">{{ meal.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Quantity (g)</ion-label>
    <ion-input type="number" [(ngModel)]="quantity" (ionInput)="calculateCalories()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Calories</ion-label>
    <ion-input type="text" [value]="calculatedCalories" disabled></ion-input>
  </ion-item>

  <ion-button (click)="addCalories()">Add Calories</ion-button>

  <ion-list>
    <ion-item *ngFor="let log of calorieLogs">
      <ion-label>
        <h2>{{ log.name }}</h2>
        <p>{{ log.date }}: {{ log.calories }} calories ({{ log.quantity }}g)</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
