<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="button-container">
    <ion-button expand="full" class="nav-button" routerLink="/nutrition">
      Go to Nutrition
    </ion-button>
    <ion-button expand="full" class="nav-button" routerLink="/home">
      calculer ton poid ideal et ton imc ?
    </ion-button>
    <ion-button expand="full" class="nav-button" routerLink="/hydration">
      boire de l'eau
    </ion-button>
    <ion-button expand="full" class="nav-button" routerLink="/sleep">
      dormire
    </ion-button>
  </div>
</ion-content>